
@model  ProductAdminVM
@{
    ViewBag.Title = "CategoryList";
}
<script src="~/OutherTools/lithbox/lightbox-2.6.min.js"></script>
<link href="~/OutherTools/lithbox/lightbox.css" rel="stylesheet" />
<h2>@Html.ActionLink("Urun Ekle", "AddProduct", "Product", null, new { @class = "btn btn-primary" })</h2>
<div class="row">
    <div class="col-sm-12">
        <section class="panel">


            <span class="tools pull-right">
                <a href="javascript:;" class="fa fa-chevron-down"></a>
                <a href="javascript:;" class="fa fa-times"></a>
            </span>
            <div class="panel-body">
                <div class="adv-table">
                    <table class="display table table-bordered" id="hidden-table-info">
                        <thead>
                            <tr>
                                <th>Kategori ID</th>

                                <th>Ürün İsmi</th>

                                <th class="hidden-phone">Ürün Fiyati</th>
                                <th class="hidden-phone">Ürün Stok</th>


                                <th>Ürün Kategori</th>
                                <th class="hidden-phone">Ürün Resmi</th>

                                <th>Durum  </th>

                                <th>Sil  </th>

                                <th>Güncelle  </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Product item in Model.Products)
                            {
                                <tr class="gradeX">
                                    <td>@item.ID</td>
                                    <td>
                                        @item.ProductName
                                    </td>
                                    <td class="hidden-phone">
                                        @item.UnitPrice
                                    </td>
                                    <td>@item.UnitsInStock</td>
                                    @if (item.Category == null)
                                    {


                                        <td>Kategorisi Belirlenmemiş</td>

                                    }
                                    else
                                    {
                                        <td>
                                            @item.Category.CategoryName
                                        </td>
                                    }
                                    @* Resim büyütmek için  a link kullan  lithbox indir nugetpacgesten**@
                                    <td>
                                        <a href="@item.ImagePath" class="example-image-link" data-lightbox="example-1">
                                            <img width="30" height="30" title="@item.ProductName" src=" @item.ImagePath" />
                                        </a>
                                    </td>
                                    <td>
                                        @item.Status
                                    </td>
                                    <td class="center hidden-phone">@Html.ActionLink("Sil", "DeleteProduct", new { id = item.ID }, new { @class = "btn btn-danger" })</td>
                                    <td class="center hidden-phone">@Html.ActionLink("Güncelle", "UpdateProduct", new { id = item.ID }, new { @class = "btn btn-warning" }) </td>
                                </tr>









                            }















                    </table>

                </div>
            </div>
        </section>



        <script src="~/Areas/Admin/AdminScripts/AdminProductDTJ.js"></script>