@model ProductAdminVM
@{
    ViewBag.Title = "UpdateProduct";
}

<h2>UpdateProduct</h2>
<script src="~/OutherTools/lithbox/lightbox-2.6.min.js"></script>
<link href="~/OutherTools/lithbox/lightbox.css" rel="stylesheet" />
@using (Html.BeginForm("UpdateProduct", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))

{<div class="row">

        <div class="col-sm-12">
            <section class="panel">

                <header class="panel-heading">
                    Kategori Güncelleme Sayfası
                </header>
                <div class="panel-body">

                    <div class="form-group">
                        <label class="col-sm-2">Ürün İsmi</label>
                        <div class="col-sm-10">
                            @Html.HiddenFor(x => x.Product.ID);
                            @Html.TextBoxFor(x => x.Product.ProductName, new { @class = "form form-control", placeholder = "Ürün ismi" })


                        </div>



                    </div>  <br /><br />
                    <div class="form-group">

                        <label class="col-sm-2">Ürün Fiyati</label>
                        <div class="col-sm-10"> @Html.TextBoxFor(x => x.Product.UnitPrice, new { @class = "form form-control", placeholder = "Ürün Fiyatı Giriniz" })   </div>

                    </div>



                    <br /><br />
                    <div class="form-group">

                        <label class="col-sm-2">Stok</label>
                        <div class="col-sm-10"> @Html.TextBoxFor(x => x.Product.UnitsInStock, new { @class = "form form-control", placeholder = "Stok Giriniz" })   </div>

                    </div>



                    <br /><br />
                    <div class="form-group">

                        <label class="col-sm-2">Ürün Resim</label>
                        <div class="col-sm-10">
                            <a href="@Model.Product.ImagePath" class="example-image-link" data-lightbox="example-1">
                                <img width="30" height="30" title="@Model.Product.ProductName" src=" @Model.Product.ImagePath" />
                            </a>
                        </div>
                        <br />

                    </div>

                    <br /><br />
                    <div class="form-group">
                        <label class="col-sm-2">Resim Değiştir</label>
                        <div class="col-sm-10">
                            <input type="file" name="image" class="form form-contol" />
                            @Html.TextBox("fileName", null, new { @class = "form form-control", placeholder = "Resim Giriniz" })
                        </div>
                        <br />    <br />    <br />
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2">Ürün Güncelle</label>
                        <label class="col-sm-10"><button class="btn btn-primary">GUNCELLE</button></label>

                    </div>







            </section>







        </div>




    </div>


}



