@model PaginationVM
@{
    ViewBag.Title = "ShoppingList";
}

<div class="row">
    <div class="col-md-3">
         
        <section class="panel">
            <header class="panel-heading">
                Category
            </header>
            <div class="panel-body">
                <ul class="nav prod-cat">
                 @foreach (Category item in Model.Categories)
                 {
                     <li style="padding-top:30px"> @Html.ActionLink(item.CategoryName, "ShoppingList", new { categoryID = item.ID },new {@class="btn btn-primary"}) </li>
                 }

                </ul>
            </div>
        </section>
       
    </div>
    <div class="col-md-9">
        <section class="panel">
            <div class="panel-body">
              
                <div class="pull-right">
                    <ul class="pagination pagination-sm pro-page-list">
                        @if (TempData["catID"] != null)
                        {

                            <li>
                                @Html.PagedListPager(Model.PagedProducts, page => Url.Action("ShoppingList", new { page, categoryID = TempData["catID"] }))

                            </li>

                        }
                        else
                        {

                            <li>
                                @Html.PagedListPager(Model.PagedProducts, page => Url.Action("ShoppingList", new { page  }))

                            </li>




                        }


                    </ul>
                </div>
            </div>
        </section>
         
        <div class="row product-list">
            @foreach (Product item in Model.PagedProducts)
            {

                <div class="col-md-4">
                    <section class="panel">
                        <div class="pro-img-box">
                            @if (item.ImagePath == null || item.ImagePath == "3")
                            {
                                <img src="~/OutherTools/flatlab-master/img/product-list/pro-1.jpg" alt="Resim Yok"  width="100" height="300" title="@item.ProductName"/>
                            }
                            else
                            {

                                <img src="@item.ImagePath" width="100" height="300" title="@item.ProductName" />


                            }




                            <a href="@Url.Action("AddToCart", new {id=item.ID})" class="adtocart">
                                <i class="fa fa-shopping-cart"></i>
                            </a>
                        </div>

                        <div class="panel-body text-center">
                            <h4>
                                <a href="product_list.html#" class="pro-title" title="@item.ProductName">
                                    @item.ProductName
                                </a>
                            </h4>
                            <p class="price">$@item.UnitPrice</p>
                        </div>
                    </section>
                </div>
            }
            <br /><h2><button class="fa fa-shopping-cart"> @Html.ActionLink("Sepete Git","List", "Shopping")    </button></h2>
            </div>
    </div>
</div>

