@model AppUserVM
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
 
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="Mosaddek">
<meta name="keyword" content="FlatLab, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
<link rel="shortcut icon" href="http://thevectorlab.net/flatlab/img/favicon.png">

<title>FlatLab - Flat & Responsive Bootstrap Admin Template</title>

<!-- Bootstrap core CSS -->
<link href="~/OutherTools/flatlab-master/css/bootstrap.min.css" rel="stylesheet">
<link href="~/OutherTools/flatlab-master/css/bootstrap-reset.css" rel="stylesheet">
<!--external css-->
<link href="~/OutherTools/flatlab-master/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
<link href="~/OutherTools/flatlab-master/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.css" rel="stylesheet" type="text/css" media="screen" />
<link rel="stylesheet" href="~/OutherTools/flatlab-master/css/owl.carousel.css" type="text/css">

<!--right slidebar-->
<link href="~/OutherTools/flatlab-master/css/slidebars.css" rel="stylesheet">

<!-- Custom styles for this template -->

<link href="~/OutherTools/flatlab-master/css/style.css" rel="stylesheet">
<link href="~/OutherTools/flatlab-master/css/style-responsive.css" rel="stylesheet" />


<!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
<!--[if lt IE 9]>
  <script src="js/html5shiv.js"></script>
  <script src="js/respond.min.js"></script>
<![endif]-->
  </head>
<body class="bx-log-in">
    <div class="container">




        @using (Html.BeginForm("Login", "Home", FormMethod.Post, new { @class = "form-signin" }))
        {
            <center><h2> @ViewBag.Kullanici</h2></center>
            <br /><center><h2  >Giriş Yapınız</h2></center>
            <br />
            <center> <h2>  @TempData["Hesap Aktifmi"]</h2></center>
            <div class="bx-log-in-circle">

                @Html.TextAreaFor(x => x.AppUser.UserName, new { @class = "form form-control", placeholder = "Kullanıcı ismi" })
                @Html.PasswordFor(x => x.AppUser.Password, new { @class = "form form-control", placeholder = "Password Giriniz" })



                 <button class=" btn btn-primary">Giriş Yap</button> <br />
                                                                                       <div>
                                                                                           <h4>  @Html.ActionLink("Kayıt Ol", "RegisterNow", "Register")</h4><br />


                                                                                       </div>
            </div>


        }



    </div>
</body>
</html>
